<div class="row" *ngIf="params.id==1">
  <h2>Get food fast &mdash; not fast food.</h2>
  <p class="long-copy">Hello, we're Omnifood, your new premium food delivery service. We know you're always busy. No time for cooking. So let
    us take care of that, we're really good at it, we promise!</p>
</div>

<div class="row js--waypoint-1" *ngIf="params.id==2">
  <app-column [params]='{"id":1, "name":"360"}'></app-column>
  <app-column [params]='{"id":2, "name":"ready"}'></app-column>
  <app-column [params]='{"id":3, "name":"organic"}'></app-column>
  <app-column [params]='{"id":4, "name":"order"}'></app-column>
</div>