<div class="container">
  <!-- main container -->
  <app-header></app-header>
  <app-section [params]='{"id":1, "name":"features"}'></app-section>
  <app-section [params]='{"id":2, "name":"meals"}'></app-section>
  <app-section [params]='{"id":3, "name":"steps"}'></app-section>
  <app-section [params]='{"id":4, "name":"cities"}'></app-section>
  <app-section [params]='{"id":5, "name":"testimonials"}'></app-section>
  <app-section [params]='{"id":6, "name":"plans"}'></app-section>
  <app-section [params]='{"id":7, "name":"form"}'></app-section>
  <app-footer></app-footer>
</div>
<!-- eof main container -->