<nav>
  <div class="row">
    <img src="assets/images/logo-white.png" alt="logo" class="logo-white">
    <img src="assets/images/logo-black.png" alt="logo" class="logo-black">
    <ul class="main-nav js--main-nav">
      <li><a href="#features">Food delivery</a></li>
      <li><a href="#steps">How it works</a></li>
      <li><a href="#cities">Our cities</a></li>
      <li><a href="#plans">Sign up</a></li>
    </ul>
    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
  </div>  
</nav>